# --- Python Basics ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual Environment ---
env/
venv/
.pytest_cache/

# --- Secrets & Environment Variables (ΤΟ ΠΙΟ ΣΗΜΑΝΤΙΚΟ) ---
.env
*.env

# --- Certificates & Keys ---
api/certs/
*.pem
*.key

# --- External Tools & Binaries (Δεν τα θέλουμε στο GitHub) ---
cloudflared.exe
sqlmap-dev/
*.exe
*.zip

# --- Logs & OS Junk ---
*.log
.DS_Store
.vscode/
.idea/