version: '3.8'

services:

  ollama-service:
    image: ollama/ollama:latest
    container_name: ollama_llm
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]


  hev-control-system:
    build: 
      context: .
      dockerfile: docker/Dockerfile
    container_name: hev_agent
    volumes:
      - .:/app  #Live Sync: Allazeis kwdika kai enhmerwnetai automata!
      - /tmp/.X11-unix:/tmp/.X11-unix #Gia na anoigei to GUI (se Linux)
    environment:

      - OLLAMA_HOST=http://ollama-service:11434
      - DISPLAY=${DISPLAY} # Gia to GUI
    depends_on:
      - ollama-service

    command: tail -f /dev/null 

volumes:
  ollama_data: